@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose {
  max-width: 65ch;
  color: inherit;
}

.prose a {
  color: #2563eb;
  text-decoration: underline;
  font-weight: 500;
}

.prose strong {
  color: inherit;
  font-weight: 600;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: inherit;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose p,
.prose ul,
.prose ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose ul,
.prose ol {
  padding-left: 1.5em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

